@import "tailwindcss";

@theme {
    --color-*: initial;
    --color-jet: #3A3335;
    --color-papawt: #FDF0D5;
    --color-ashgr: #C6D8D3;
    --color-vermill: #F0544F;
}

@layer base {
    :root {
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}